body {background: #BFAFF9; font-family:'apple sd gothic neo','helevtica neue',ubuntu,verdana,'Trebuchet MS',sans-serif;margin:10px}

						
a:link, a:visited {		text-decoration:none;
						color:#d24c03}
						

						
#navbar li 			{	
						background:rgba(0,0,0,0.3);
						text-align:left;
						padding-left:4px}




#navbar #boxLink:checked~li {	border-left:.1em solid #c0c0c0;
					padding-left:2px;}

#navbar #boxLink:checked~li ul{
					background:rgba(0,0,0,0.3);
					border-bottom:.1em solid #c0c0c0;
					border-left:.15em solid #c0c0c0;
					margin-left:-.25em;
	                                height:50%;
	overflow-y:scroll;
	overflow-x:hidden;
	  text-overflow: ellipsis;

					}
					
#navbar li ul li {	font-size:85%}
					
#navbar #boxLink:checked~li ul li {border:none;
						padding:4px}
						
#navbar a:hover {		text-decoration:underline}



div.content {margin-left:5%}
